html,
body {
  margin: 0;
  padding: 0;
  background: #DCDCDC;
}

div {
  max-width: 95%;
}

html {
    scroll-behavior: smooth;
}

img {
    padding: 10px;
    max-width: 95%;
}

ul {
    width: 70%;
    margin: auto;
}

#App {
  font-family: sans-serif;
  background: #DCDCDC;


  /* Give app full page to work with */
  height: 100vh;
}

#page-wrap {
  text-align: center;

  /* Prevent sidebar from showing a scrollbar on page */
  overflow: auto;
}

@media screen and (max-width: 768px) {
#sidebar {display: none;} 
}